@media screen and (max-width: 600px) {
    body {
        font-size: 3.5vw;
    }

    #cabecalho {
        font-size: 1.2em;
    }
    #cabecalho h1 {
        letter-spacing: 0.1em;
        margin: 6% auto 4%;
    }
    #cabecalho p {
        margin: auto 5%;
    }
    #cabecalho #nav ul {
        margin: auto 2%;
        gap: 0%;
    }
    #cabecalho #nav ul a {
        padding: 6% 0;
    }
    #cabecalho #nav ul a:hover {
        padding: 6% 3%;
    }

    #conteudo {
        margin: auto;
        padding: 3%;
        font-size: 1.3em;
        border-radius: initial;
        padding: 2%;
    }
    #conteudo p {
        font-size: 1.3em;
    }

    #conteudo .historia .video {
        margin: 5% auto 15%;
    }
    #conteudo .historia .video iframe {
        width: 100%;
        height: 52vw;
    }
    
    #conteudo .extra {
        margin: 8% 2%;
    }
    #conteudo .extra div h3 {
        font-size: 1.4em;
    }
    #conteudo .extra article .lista {
        columns: 1;
        font-size: 1.2em;
    }

    #rodape {
        padding: 1.5% 1% 1%;
    }
    #rodape #topo {
        font-size: 3em;
        margin-top: 2.5%;
    }
    #rodape a:hover {
        transition-duration: .1s;
    }
    #rodape p {
        margin: 3% 5%;
        padding: 2% 0;
        font-size: 1.2em;
    }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        font-size: 1.25em;
    }

    #cabecalho {
        font-size: 1.2em;
    }
    #cabecalho h1 {
        letter-spacing: 0.1em;
        font-size: 2.5em;
        margin: 3.5% auto 2%;
    }
    #cabecalho p {
        margin: auto 10%;
    }
    #cabecalho #nav ul {
        margin: auto 5%;
        gap: 0;
    }

    #conteudo {
        margin: auto;
        border-radius: initial;
        padding: 2%;
    }
    #conteudo p {
        font-size: 1.3em;
    }
    
    #conteudo .historia .video {
        margin-bottom: 13%;
    }
    #conteudo .historia iframe {
        margin: 3% auto;
        width: 100%;
        height: 18em;
    }

    #conteudo .extra {
        margin: 5%;
    }
    #conteudo .extra div h3 {
        font-size: 1.6em;
    }

    #rodape {
        padding: 1.5% 1% 1%;
    }
    #rodape #topo {
        font-size: 3em;
    }
    #rodape a:hover {
        transition-duration: .1s;
    }
    #rodape p {
        margin: auto 10%;
        padding: 2% 0;
        font-size: 1.2em;
    }
}