@charset "UTF-8";

/* A mente do site */
body {
    font: 1.7em var(--fonte-padrao);
    max-width: 100%;
    height: auto;
    text-align: justify;
}

/* Cabeçalho */
#cabecalho {
    color: white;
    background-image: linear-gradient(180deg, var(--verde-neutra), var(--verde-escura));
    height: 100%;
    text-align: center;
    padding-top: 1%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.137);
}
#cabecalho h1 {
    font-family: var(--fonte-destaque);
    letter-spacing: 0.06em;
    font-size: 2.2em;
    margin: 2% auto;
}
#cabecalho p {
    color: var(--verde-clara-1);
    margin: auto 25%;
}
#cabecalho #nav {
    margin-top: 3%;
}
#cabecalho #nav ul {
    list-style: none;
    display: flex;
    gap: 5%;
    padding: 0;
    margin: auto 16%;
}
#cabecalho #nav ul a {
    text-decoration: none;
    text-shadow: none;
    font-size: 1.2em;
    color: white;
    font-weight: bolder;
    transition-duration: .4s;
    margin: auto;
    padding: 3% 0;
}
#cabecalho #nav ul a:hover,
#cabecalho #nav ul a:focus-visible {
    background-color: var(--verde-clara-2);
    color: white;
    padding: 3%;
    transition-duration: .4s;
}
#cabecalho #nav ul a:active {
    background-color: var(--verde-neutra);
    color: white;
    transition-duration: .1s;
}

/* O conteúdo do site */
#conteudo {
    background-color: white;
    margin: 3% 10%;
    padding: 2.5% 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    line-height: 2em;
}

#conteudo a::after {
    content: ' \1F517';
}
#conteudo a {
    color: var(--verde-escura);
    transition-duration: .4s;
}
#conteudo a:focus-visible {
    outline: auto;
    padding: 0.1em;
}
#conteudo a:hover,
#conteudo a:focus-visible {
    color: var(--verde-clara-2);
    transition-duration: .4s;
}
#conteudo a:active {
    color: var(--verde-clara-1);
    transition-duration: .2s;
}

#conteudo .historia strong {
    color: var(--verde-escura);
    background-color: var(--verde-clara-1);
    padding: 0.1em;
}
#conteudo .historia h2,
#conteudo .historia h3 {
    font-family: var(--fonte-android);
    text-align: left;
    color: var(--verde-escura);
    background-image: linear-gradient(90deg, var(--verde-clara-1), white);
    padding-left: 1%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
}
#conteudo .historia h3 {
    font-size: 1.2em;
}
#conteudo .historia p {
    text-indent: 5%;
    margin: auto 1% 2%;
}
#conteudo .historia img,
#conteudo .historia iframe {
    border-radius: 3px;
    animation: reveal 1s ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 40%;
}
#conteudo .historia .imagem.android {
    margin: 3% auto;
    height: auto;
    max-width: 350px;
    display: flex;
    align-items: center;
}
#conteudo .historia .imagem img {
    margin: 3% auto;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
}
#conteudo .historia .video {
    padding: 0.5em;
    padding-bottom: 55%;
    position: relative;
    margin-bottom: 10%;

}
#conteudo .historia .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#conteudo .extra {
    margin: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.144);
    border-radius: 16px 5px;
    animation: esquerda 1s ease-out;
    animation-timeline: view();
    animation-range: cover -10% cover 25%;
}
#conteudo .extra strong {
    background-color: var(--verde-escura);
    color: var(--verde-clara-1);
    padding: 0.1em;
}
#conteudo .extra div {
    text-align: center;
    background-color: var(--verde-escura);
    color: white;
    border-radius: 16px 5px 0 0;
}
#conteudo .extra div h3 {
    font-size: 1.3em;
    padding: 0.8em;
}
#conteudo .extra article {
    background-color: var(--verde-clara-1);
    border-radius: 0 0 16px 5px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#conteudo .extra article p {
    margin: 0;
    padding: 0;
}
#conteudo .extra article .lista {
    margin: auto;
    list-style: none;
    columns: 2;
    padding: 0;
}
#conteudo .extra article .lista li::before {
    content: '\2713';
    position: relative;
    left: 0;
    top: 0;
    font-size: 100%;
    color: var(--cinza-escura);
    margin-right: 3px;
}

/* O rodapé do site */
#rodape {
    background-color: var(--verde-escura);
    color: white;
    text-align: center;
    padding: 1em 2em;
}

#rodape #topo {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.315);
    font-size: 2em;
    padding: 0.5%;
    margin-bottom: 0.2em;
    transition-duration: .4s;
}
#rodape #topo:hover,
#rodape #topo:focus-visible {
    background-color: var(--verde-clara-2);
    color: white;
}
#rodape #topo:active {
    background-color: var(--verde-neutra);
    color: white;
    transition-duration: .2s;
}

#rodape a {
    color: var(--verde-clara-2);
    transition-duration: .2s;
}
#rodape a:focus-visible {
    outline: auto;
    padding: 0.1em;
}
#rodape a:hover,
#rodape a:focus-visible {
    color: var(--verde-neutra);
}
#rodape a:active {
    color: var(--verde-clara-1);
}

#rodape p {
    line-height: 1.5em;
    margin-top: 0.4em;
}
